# Drason Truong 4381.5U1 Assignment 3

# Question 1

In [1]:
# str = input('Enter String: ')
str = 'X-DSPAM-Confidence:0.8475'
newStr = str.split(':')

flNum = newStr[1]
secStr = flNum.replace("'", "")

float(secStr)
print(secStr) # str_for_q01 = 'X-DSPAM-Confidence:0.8475'

0.8475

# Question 2

In [2]:
# str1 = input('Enter String: ')
str1 = 'Emily-is-a-data-scientist-who-works-atgoogle-and-previously-facebook'
words = list()
words = str1.split('-')

print(words) # Emily-is-a-data-scientist-who-works-atgoogle-and-previously-facebook

['Emily', 'is', 'a', 'data', 'scientist', 'who', 'works', 'atgoogle', 'and', 'previously', 'facebook']

# Question 3

In [3]:
list1 = [51, 1, 15, 19, 25, 50, 19]
found = 1
sum = 0

for i in range(len(list1)):
    if list1[i] == 19 and found == 1: #only first value gets replaced
        list1[i] = 199
        found -= 1
        
for c in list1:
    sum = sum + c
        
print(list1)
print(sum)

[51, 1, 15, 199, 25, 50, 19]
360

# Question 4

In [4]:
list2 = [51, 1, 15, 19, 25, 50, 19]
desiredNum = 19
newList = list()

def removeEntry():
    for i in range(len(list2)):
        if list2[i] != desiredNum:
            newList.append(list2[i])
            
            
removeEntry()
print(newList)

[51, 1, 15, 25, 50]

# Question 5

In [5]:
mainList = ["n", "b", ["c", ["d", "e", ["n", "o"], "i"], "s"], "q", "y"]
secondList = ["g", "k", "j"]

mainList[2][1][2].extend(secondList)
print(mainList)

['n', 'b', ['c', ['d', 'e', ['n', 'o', 'g', 'k', 'j'], 'i'], 's'], 'q', 'y']

# Question 6

In [6]:
# From DBT170001@UTDallas.edu Thu June 15 09:10:11 2023
data = open('Truong_a03_q07.txt')

for i in data:
    words = i.split()
    email = words[1]
    emailAddress = email.split('@')
    emailAddress = emailAddress[0]
    
print(emailAddress)

DBT170001